<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 animate__animated animate__zoomIn animate_delay_3s">Cotizador Web</h1>
            <h3 class="mb-5 animate__animated animate__tada animate_delay_3s">
                <em>Autonort Nor Oriente</em>
            </h3>
            <a href="/signin" class="btn btn-primary animate__animated animate__jackInTheBox animate_delay_3s">Empecemos</a>
        </div>
    </header>
</main>