<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4><span class="badge badge-pill badge-danger">{{user.rol}}</span></h4>
                    <a href="/vehicles" class="btn btn-primary m-4">Agregar Vehículo</a>
                </div>
            </div>
        </div>
    </div>
</div>