<div class="container p-5 mb-5">
    <div class="row mb-5">
        <div class="col-md-4 mx-auto mb-5">
            <div class="mb-2"></div>
            <div class="card text-center animate__animated animate__flipInY animate_delay_3s fondo-card">
                <div class="card-header text-white bg-dark">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <img src="/public/img/logo-autonort-white.png" alt="Logo"
                        class="card-img-top mx-auto mb-5 w-50">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Usuario" class="form-control"
                                autocomplete="off" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control"
                                autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-block">
                                SignIn
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>